<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Password Reset</title>
</head>
<body>

    <p>Hi {{ username}}</p>
    <p>Thank you for signing to our service.</p>
    <p>Please Click the following link to verify your email adress:</p>
    <p>
        <a href="{{host}}api/auth/confirmed_email/{{token}}">Veryfication</a>
    </p>

    <p>If you did not sign up for our service, please ignore this email.</p>
    <p>Thanks,</p>
    <p>The Our Team</p>

</body>
</html>